.custom-input {
  padding: 0.375rem 15px;
  min-height: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
}

.custom-input-error {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: darkred;
}
